{% extends 'base.html' %}
{% block content %}
<br />
<div class="container">
    <form action="/demo" method="POST">
        <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea class="form-control" id="instructions" name="instructions" rows="5"
                placeholder="{{instructions}}"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Convert</button>

    </form>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ROM address</th>
                <th scope="col">Instruction</th>
            </tr>
        </thead>
        <tbody>
            {% for line in bytecode %}
            <tr>
                <th scope="row">{{line.split()[0]}}</th>
                <td>{{line.split(" ", 1)[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}