{% extends 'base.html' %}
{% block content %}
<br />
<div class="container">
    <form action="/demo" method="POST">
        <div class="form-group">
            <label for="instructions">Instructions</label>
            <textarea class="form-control" id="instructions" name="instructions" rows="5"
                placeholder="Fill with Code">{{instructions}}</textarea>
        </div>
        <button type="submit" name="convert" class="btn btn-secondary">Convert</button>
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ROM address</th>
                    <th scope="col">Instruction</th>
                    <th>Hexadecimal</th>
                </tr>
            </thead>
            <tbody>
                {% for addr, instr in bytecode.items() %}
                <tr>
                    <th scope="row">{{addr | upper | replace("X", "x")}}</th>
                    <td>{{instr}}</td>
                    <td>{{ '0x{0:02X}'.format(instr | int(base=2)) }}</td>
                    <!-- https://jinja.palletsprojects.com/en/3.0.x/templates/#jinja-filters.int -->
                    <!-- https://www.rapidtables.com/convert/number/binary-to-hex.html -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if bytecode != "" %}
        <button type="submit" name="run" class="btn btn-secondary">Run Code</button>
        {% endif %}

        {% if reg_and_ram %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Register</th>
                    <th scope="col">Value</th>
                    <th>Hexadecimal</th>
                </tr>
            </thead>
            <tbody>
                {% for reg, val in reg_and_ram["register"].items() %}
                <tr>
                    <th scope="row">{{reg}}</th>
                    <th>{{val}}</th>
                    <td>{{ '0x{0:02X}'.format(val | int(base=2)) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Ram address</th>
                    <th scope="col">Value</th>
                    <th>Hexadecimal</th>
                </tr>
            </thead>
            <tbody>
                {% for reg, val in reg_and_ram["ram"].items() %}
                <tr>
                    <th scope="row">{{reg}}</th>
                    <th>{{val}}</th>
                    <td>{{ '0x{0:02X}'.format(val | int(base=2)) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </form>
</div>
{% endblock %}