{% extends "base.html" %}
{% load static %}

{% block content %}


<head>
  <title>Bootstrap Example</title>

</head>

<body>

  <div class="container p-5 my-5 bg-primary text-white">

    <div class="row">
      <div class="col">
        <div class="display-1"> RISCY DEMO</div>
      </div>
      <div class="col">Controls</div>
    </div>
    <div class="row">
      <div class="col">Instructions</div>
      <div class="col">ROM</div>
      <v class="col">
        <table class="table table-dark table-striped" id="regTable">
        </table>
        <div class="col">
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th>RAM Address</th>
                <th>Content</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  </div>

  {% endblock %}